{% extends 'AdminNav.html' %}

{% block main_block %}
  <h1>Admin Interface</h1>

  <p>Welcome to the Admin Interface for this site</p>
  <p>This interface allows you to alter the data within the database of this system allowing you to:</p>
  <ul>
    <li>Remove the log of a Purchase</li>
    <li>Remove the User data</li>
    <li>Delete the data within a specific table</li>
    <li>Delete the data within all tables</li>
    <li>Refill the tables with fixed, specified data</li>
  </ul>
  <p>The different pages allowing these changes can be found using the Navigation Bar at the top of this page</p>
{% endblock %}
